@model Company.Survey.Core.Data.Entities.Survey

@{
    Layout = "./Shared/_Layout";
    ViewData["Title"] = "Edit Questionnaire";
}

<h1>Edit Questionnaire (Survey Id: @Model.Id Title: @Model.Title)</h1>

<div class="row">
    <div class="col">
        <button class="btn btn-primary">
            Add Step
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        @foreach (var step in Model.SurveySteps)
        {
            <div class="row">
                <div class="col">
                    ...step details
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @foreach (var question in step.Questions)
                    {
                        <div class="row">
                            <div class="col">
                                ...question details
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                ...remove qeustion
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div>
                ...remove step
            </div>
        }
    </div>
</div>