<div *ngIf="!notFound && !hasLoaded">
  Loading...
</div>
<div *ngIf="notFound && hasLoaded">
  This is not the survey you are looking for... 404!
</div>
<div *ngIf="!notFound && hasLoaded">
  <div class="row pt-3 pb-3">
    <div class="col">
      <div class="row"><a href="{{survey.companySite}}">{{survey.companySite}}</a></div>
      <div class="row">{{survey.title}}</div>
    </div>
    <div class="col">
      <div class="row">{{survey.contact}}</div>
    </div>
  </div>
  <div *ngFor="let step of survey.steps; let i = index;">
    <!-- step -->
    <div class="row pt-3 pb-3">
      <div class="col border">
        {{step.title}}
      </div>
    </div>
    <!-- universal survey questions -->
    <div *ngIf="i == 0">
      <div class="row border">
        <div class="col">
          <span>Company Name:</span>
        </div>
        <div class="col">
          <span>First Name:</span>
        </div>
      </div>
      <div class="row border">
        <div class="col">
          <span>Phone:</span>
        </div>
        <div class="col">
          <span>Last Name:</span>
        </div>
      </div>
      <div class="row border">
        <div class="col">
          <span>Email:</span>
        </div>
        <div class="col">
          <span>Date of Questionnaire:</span>
        </div>
      </div>
      <div class="row border">
        <div class="col">
          <span>Requested Start Date:</span>
        </div>
        <div class="col">
          <span>Requested End Date:</span>
        </div>
      </div>
    </div>
    <!-- render items -->
    <div *ngFor="let item of step.renderItems">
      <!-- group -->
      <div *ngIf="item.groupKey">
        <table class="table">
          <thead *ngFor="item.group"></thead>
        </table>
      </div>
      <div *ngIf="!item.groupKey">
        <!-- question -->
        <div *ngIf="item.question">
          <!-- row -->
          <div class="row underline bold" *ngIf="item.question.renderAs === 'Row'">
            <div class="col"><strong><u>{{item.question.title}}</u></strong></div>
          </div>
          <div class="row" *ngIf="item.question.note">
            <div class="col"><em>{{item.question.note}}</em></div>
          </div>
        </div>
      </div>
      <!-- content -->
      <div class="col" *ngIf="!item.question">
        <div class="row"><strong><u>{{item.title}}</u></strong></div>
        <div class="row"><em>{{item.content}}</em></div>
      </div>
    </div>
  </div>
</div>
