<div *ngIf="!notFound && !hasLoaded">
  Loading...
</div>
<div *ngIf="notFound && hasLoaded">
  This is not the survey you are looking for... 404!
</div>
<div *ngIf="!notFound && hasLoaded">
  <div class="row pt-3 pb-3">
    <div class="col">
      <div class="row"><a href="{{survey.companySite}}">{{survey.companySite}}</a></div>
      <div class="row">{{survey.title}}</div>
    </div>
    <div class="col">
      <div class="row">{{survey.contact}}</div>
    </div>
  </div>
  <div *ngFor="let step of survey.steps; let i = index;">
    <div class="row pt-3 pb-3">
      <div class="col border">
        {{step.title}}
      </div>
    </div>
    <div *ngIf="i == 0">
      <div class="row border">
        <div class="row col input-group input-group-sm">
          <span class="padLeft">Company Name:</span>
          <span class="col input-group input-group-sm"><input type="text" class="form-control" placeholder=""></span>
        </div>
        <div class="row col">
          <span class="padLeft">First Name:</span>
          <span class="col input-group input-group-sm"><input type="text" class="form-control" placeholder=""></span>
        </div>
      </div>
      <div class="row border">
        <div class="row col">
          <span class="padLeft">Phone:</span>
          <span class="col input-group input-group-sm"><input type="text" class="form-control" placeholder=""></span>
        </div>
        <div class="row col">
          <span class="padLeft">Last Name:</span>
          <span class="col input-group input-group-sm"><input type="text" class="form-control" placeholder=""></span>
        </div>
      </div>
      <div class="row border">
        <div class="row col">
          <span class="padLeft">Email:</span>
          <span class="col input-group input-group-sm"><input type="text" class="form-control" placeholder=""></span>
        </div>
        <div class="row col">
          <span class="padLeft">Date of Questionnaire:</span>
          <span class="col input-group input-group-sm"><input type="text" class="form-control" placeholder=""></span>
        </div>
      </div>
      <div class="row border">
        <div class="row col">
          <span class="padLeft">Requested Start Date:</span>
          <span class="col input-group input-group-sm"><input type="text" class="form-control" placeholder=""></span>
        </div>
        <div class="row col">
          <span class="padLeft">Requested End Date:</span>
          <span class="col input-group input-group-sm"><input type="text" class="form-control" placeholder=""></span>
        </div>
      </div>
    </div>
    <div *ngFor="let question of step.questions">
      <div *ngIf="question">
        <div class="row pt-2">
          <div class="row col lessFontSize">
            <span class="padLeft">
              <strong>
                <u>{{question.quesitonText}}</u>
              </strong>
            </span>
            <span *ngIf="!question.groupedQuestions" class="padLeft input-group-sm">
              <input id="{{question.id}}" data-step="{{i}}" type="text" class="form-control" placeholder="{{question.questionText}}"
                     (blur)="onBlurReplace()">
            </span>
          </div>
        </div>
        <div class="row pb-2 pb-1" *ngIf="question.note">
          <div class="col"><em>{{question.note}}</em></div>
        </div>
        <div *ngIf="question.groupedQuestions && question.groupedQuestions.length">
          <table class="table pt-1">
            <thead>
              <tr>
                <th class="border align-top" scope="col" *ngFor="let groupQuestion of question.groupedQuestions">
                  {{groupQuestion.quesitonText}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="border align-top">
                <td *ngFor="let groupQuestion of question.groupedQuestions" class="border noPad" style="padding:2px;">
                  <span class="col input-group input-group-sm"><input type="text" class="form-control" placeholder="{{groupQuestion.quesitonText}}"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
