.padLeft {
    padding-left: 15px;
}

.noPad {
  padding: 0px !important;
}

.lessFontSize {
  font-size: 0.9rem;
}

td {
    padding: 2px !important;
}

/* for printing src: https://stackoverflow.com/a/8356996 
@media screen {
  #head {
    display: initial;
  }
}
@media print {
  #head {
    position: fixed;
  }
}
    */
